body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  background-color: #f9f9f9;
}

.container-quizz .container {
  box-shadow: none;
}

img {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.my-button {
  background-color: transparent;
  border: 2px solid white;

  &:hover {
    background: white;
    color: blue;
  }
}

.my-big-button {
  height: 30px;
}
