doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title HTML - Introduction

    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(class="")
        h1 English project
        h2 The octopus challenge
        img(style="width: 40%" src="./images/logo.gif")

        h2(class="author") <a href="https://github.com/Mcdostone/" target="_blank">Yann Prono</a>
        h2(class="author") <a href="https://github.com/yannickPhilippe" target="_blank">Yannick Philippe</a>

      section(class="outlines")
        h1 Outline 
        h3 The issue 
        h3 Why the octopus challenge ?
        h3 The game
        h3 technical specifications
        h3 Conclusion

      section
        h1 The issue

      section(class="fullscreen ugly")

      section(class="normal")
        h1 The issue
        p English present in most of media
        p New way to learn the language
        img(style="width: 60%" src="./images/english.jpg")

      section()
        h1 Why the Octopus Challenge
        h2 To Propose
        ul
          li Questions which interest us
          li Challenge
          li learn different
          li improve our english

      section()
          h1 The rules
          ul
            li draw a set of random questions
            li 3 lives
             img(style="width: 10%" src="./images/C4.gif")
            li 4 Answers
            li 3 Wrong and 1 Right
            li Right : +1 point and go the next question
            li Wrong : -1 life
            li 0 life : you lose


      section(class="normal")
        h1 Features
        ul
          li Play the quiz
          li Show high scores of players
          li Share your score to the community
          li Suggest some questions for the quiz
          li Question with youtube video or image


      section(class="normal")
        h1 Development
        ul
          li Web application
          li SPA
          li Backend: NodeJS + Express
          li Frontend: VueJS
          li Database: PostgreSQL
        
          
          div(style="margin-top: 20px")
            img(src="https://s3-us-west-2.amazonaws.com/svgporn.com/logos/nodejs-icon.svg", alt="" style="width: 25%")
            img(src="https://vuejs.org/images/logo.png", alt="" style="width: 30%")
            img(src="https://raw.githubusercontent.com/docker-library/docs/01c12653951b2fe592c1f93a13b4e289ada0e3a1/postgres/logo.png", alt="" style="width: 30%")
      
      section(class="animated-background yeah fullscreen")
        h1 Demonstration
        h2 
          <a href="https://octopus-challenge.herokuapp.com/" target="_blank">https://octopus-challenge.herokuapp.com/</a>

      section(class="normal")
        h1 Conclusion
        ul
          li Functional application
          li Some improvements to provide
          li minor bugs
          li Improve user experience on small devices          
          li Share scores on social networks
        img(style="width: 40%" src="./images/nice.gif")

      section(class="")
        h1 Any question?
        img(style="width: 40%" src="./images/query.gif")
        h2
          <a href="https://octopus-challenge.herokuapp.com/" target="_blank">https://octopus-challenge.herokuapp.com/</a>

    script(src='build/build.js')
